In [1]:
#dependencies
import pandas as pd
import numpy as np

In [2]:
#import data from combined csv
df = pd.read_csv('data/combined_data.csv')
df = df.drop('Unnamed: 0', axis=1)
df.head(1)

,video_id,trending_date,category_id,publish_time,views,likes,dislikes,comment_count,video_error_or_removed,Country Code
0,2kyS6SvSYSE,17.14.11,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954,False,US

In [3]:
#talk to group about dropping the following video_id's
#'#NAME?', '#VALUE!'

In [4]:
#talk to group about dropping the following video_id's
#when likes and dislikes == 0 or comment_count == 0 or video_error_or_removed == True

In [5]:
#the data appears to include data for the following time range, by trending date:
#dec 1, 2017 through May 31, 2018