In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import data from combined csv
data = pd.read_csv('data/cleaned_data.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,video_id,trending_date,category_id,publish_time,views,likes,dislikes,comment_count,Country Code,Days to trend
0,0,0,2kyS6SvSYSE,2017-11-14,22,2017-11-13,748374,57527,2966,15954,US,1 days 00:00:00.000000000
1,1,1,1ZAPwfrtAFY,2017-11-14,24,2017-11-13,2418783,97185,6146,12703,US,1 days 00:00:00.000000000
2,2,2,5qpjK5DgCt4,2017-11-14,23,2017-11-12,3191434,146033,5339,8181,US,2 days 00:00:00.000000000
3,3,3,puqaWrEC7tY,2017-11-14,24,2017-11-13,343168,10172,666,2146,US,1 days 00:00:00.000000000
4,4,4,d380meD0W0M,2017-11-14,24,2017-11-12,2095731,132235,1989,17518,US,2 days 00:00:00.000000000

In [6]:
# Create a dataframe with only the columns needed for trending date.
trending_df = pd.DataFrame({"Video ID": data["video_id"],
                            "Trending Date": data["trending_date"].astype('datetime64[ns]'),
                           "Views": data["views"], "Country":data["Country Code"]})

trending_df.head(20)

       Video ID Trending Date    Views Country
0   2kyS6SvSYSE    2017-11-14   748374      US
1   1ZAPwfrtAFY    2017-11-14  2418783      US
2   5qpjK5DgCt4    2017-11-14  3191434      US
3   puqaWrEC7tY    2017-11-14   343168      US
4   d380meD0W0M    2017-11-14  2095731      US
5   gHZ1Qz0KiKM    2017-11-14   119180      US
6   39idVpFF7NQ    2017-11-14  2103417      US
7   nc99ccSXST0    2017-11-14   817732      US
8   jr9QtXwC9vc    2017-11-14   826059      US
9   TUmyygCMMGA    2017-11-14   256426      US
10  9wRQljFNDW8    2017-11-14    81377      US
11  VifQlJit6A0    2017-11-14   104578      US
12  5E4ZBSInqUU    2017-11-14   687582      US
13  GgVmn66oK_A    2017-11-14   544770      US
14  TaTleo4cOs8    2017-11-14   207532      US
15  kgaO45SyaO4    2017-11-14    75752      US
16  ZAQs-ctOqXQ    2017-11-14   295639      US
17  YVfyYrEmzgM    2017-11-14    78044      US
18  eNSN6qet1kE    2017-11-14    97007      US
19  B5HORANmzHw    2017-11-14   223871      US

In [9]:
# Groupby "Video ID" and get the last trending date
last_date_df = trending_df.loc[trending_df.groupby("Video ID")["Trending Date"].idxmax()]
last_date_df.sort_values('Trending Date').head(20)

           Video ID Trending Date    Views Country
118947  Ti_hmTpucmI    2017-11-14    59376      FR
79985   T89nYASkYI4    2017-11-14    55547      DE
40109   QEBTK5_dRZ0    2017-11-14   100394      CA
195616  zH2QWFmKqpQ    2017-11-14    40576      IN
268356  8DLQNl20YE8    2017-11-14    11042      MX
40138   2AkE49hZfr4    2017-11-14   721270      CA
268340  qlHi7uhZdvU    2017-11-14   149776      MX
230691  mGzD7__nteE    2017-11-14    12324      RU
40176   F9ryLRmaBEM    2017-11-14  1237072      CA
157630  xq9FgX_mXiE    2017-11-14   671425      GB
80049   XpQnnGdFe98    2017-11-14    17306      DE
324025  zHfdgW4hy8A    2017-11-14    69885      KR
40001   fy-CuCzaPp8    2017-11-14   308568      CA
195584  F9Fd3AUaOC4    2017-11-14    68808      IN
268326  S9qll04y4iw    2017-11-14  1047926      MX
80032   tx6hcX7BpC4    2017-11-14   133157      DE
118937  irIZRH3JlIw    2017-11-14   207452      FR
195540  xnvlaasnhHg    2017-11-14    16825      IN
230687  J76q1qIECHA    2017-11-14     4553      RU
230649  xpEnLNMjxe4    2017-11-14   117399      RU

In [25]:
# Find how many views on average a video have on the last day
# they were trending.
avg_last_date_trend = trending_df["Views"].mean()
print(f"On average, a video is viewed {avg_last_date_trend:.0f} times on the last they were trending")
#trending_df["Views"].mean()

On average, a video is viewed 1367822 times on the last they were trending